
body {
	background-color: #CBD4C2;
	font-size: 20px;
	font-weight: bold;
}
nav {
  margin-right: 40px; 
  font-family: 'Halant', serif;
}
main {
	margin-right: 40px;
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Nunito Sans', sans-serif;
}
h1 {
	padding: 50px;
}
h2 {
	font-weight: bold;
}
h3 {
	padding-top: 50px;
	font-weight: bold;
}
p {
	max-width: 800px;
}
footer {
	padding: 20px;
	text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
figure {
	max-width: fit-content;
}
.sivupalkki {
  height: 100%;
  width: 40px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #50514F;
  padding-top: 100px;
}
.sivupalkki a {
  padding: 8px;
  display: block;
}
.fabo:hover {
	opacity: 0.6;
}
.insta:hover {
	opacity: 0.6;
}
.youtube:hover {
	opacity: 0.6;
}
.twitter:hover {
	opacity: 0.6;
}
form {
	
	padding: 10px;
	background-color: #50514F;
	max-width: 700px;
	border-radius: 10px;
	font-weight: bold;
	color: white;
}
textarea {
	width: 100%;
	height: 200px;
	resize: none;
}
.navbar-brand {
	font-weight: bold;
	font-size: 30px;
}
.navbar-brand:hover {
	opacity: 0.6;
}
.nav-item:hover {
	opacity: 0.6;
}
.btn { 
background-color: #CBD4C2; 
border-color: black;
font-size: 20px;
font-weight: bold;
color: black;
}
.btn:hover {
	background-color: black;
	border-color: black;
	color: white;
	font-weight: bold;
}
.btn-primary { 
background-color: #CBD4C2; 
border-color: black;
font-weight: bold;
color: black;
}
.btn-primary:hover {
	background-color: black;
	border-color: black;
	color: white;
	font-weight: bold;
}
.kortti {
	max-width: 400px;
	margin: 40px;
	border-style: solid;
	border-width: 10px;
	border-color: black;
	border-radius: 20px;
	color: white;
	background-color: #50514F;
}
.putte {
	padding-top: 50px;
}